body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 10px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: #4338ca;
}